* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 1280px;
  height: 50px;
  background: #000000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo a img {
  position: absolute;
  width: 116px;
  height: 32px;
  left: 24px;
  top: 10px;
}
.header .container .header_bar .component1 {
  position: absolute;
  width: 66px;
  height: 36px;
  left: 1027px;
  top: 6px;
}
.header .container .header_bar .component1 a img {
  position: absolute;
  left: 0%;
  right: 53.03%;
  top: 8.33%;
  bottom: 5.56%;
}
.header .container .header_bar .component1 a span {
  position: absolute;
  left: 46.97%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}
.header .container .header_bar .login a {
  color: unset;
  text-decoration: none;
  margin-right: 20px;
}
.header .container .header_bar .login a span {
  position: absolute;
  width: 91px;
  height: 32px;
  left: 1103px;
  top: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.header .container .header_bar .register a {
  color: unset;
  text-decoration: none;
}
.header .container .header_bar .register a span {
  position: absolute;
  width: 90px;
  height: 32px;
  left: 1170px;
  top: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.menu {
  position: relative;
  width: 1280px;
  height: 50px;
  background: #FFFFFF;
}
.menu .container .menu_bar a {
  color: unset;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
  margin-right: 15px;
  position: relative;
}
.menu .container .menu_bar a::after {
  position: absolute;
  content: "";
  bottom: -3px;
  width: 100%;
  height: 3px;
  left: 0;
  top: "";
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.menu .container .menu_bar a:hover {
  font-weight: 400;
  font-size: "";
  line-height: "";
  color: #000000;
  opacity: 1;
}
.menu .container .menu_bar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.register {
  width: 1280px;
}
.register .container {
  padding: 0% 8% 8% 8%;
}
.register .container h3 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 5%;
}
.register .container .register-row .register-col .form-group {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: red;
}
.register .container .register-row .register-col .form-group input {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 30px 0px;
  outline: none;
  border-style: none;
  border: none;
  border-radius: none;
  background: transparent;
  border-bottom: 5px solid #AE18E2;
  padding-bottom: 5px;
}
.register .container .register-row .register-col form {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: "";
  margin: 30px 0px;
  margin-top: 55px;
}
.register .container .register-row .register-col form #error_gender {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: red;
}
.register .container .register-row .register-col button {
  height: 50px;
  width: 291px;
  background: #AE18E2;
  border: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.footer {
  width: 1280px;
}
.footer .container .footer-wrap {
  display: flex;
  flex-wrap: wrap;
}
.footer .container .footer-wrap .footer-col {
  width: 33.3333333333%;
}
.footer .container .footer-wrap .footer-col .text {
  width: 300px;
  height: 150px;
  padding-top: 25px;
  margin-left: 50px;
}
.footer .container .footer-wrap .footer-col .text h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.footer .container .footer-wrap .footer-col .text p {
  font-size: 13px;
}
.footer .container .footer-wrap .footer-col .text a {
  font-size: 13px;
  text-decoration: none;
  color: unset;
}
.footer .container .footer-wrap .footer-col .text .text-link {
  color: red;
}
.footer .container .footer-wrap .footer-color {
  background-color: #DEDDDC;
}