* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}



.container {
    max-width: 1280px;
    margin: 0 auto;

}

//Import Biến

@import "./variable";

.header {
    position: relative;
    width: 1280px;
    height: 50px;
    background: $bg-c1;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            a {
                img {
                    position: absolute;
                    @include scale(116px, 32px, 24px, 10px, );
                }
            }
        }

        .header_bar {
            .component1 {
                position: absolute;
                @include scale(66px, 36px, 1027px, 6px);

                a {


                    img {
                        position: absolute;
                        left: 0%;
                        right: 53.03%;
                        top: 8.33%;
                        bottom: 5.56%;
                    }

                    span {
                        position: absolute;
                        left: 46.97%;
                        right: 0%;
                        top: 0%;
                        bottom: 0%;
                        @include text (300, 30px, 36px, $text-c1);

                    }
                }
            }

            .login {
                a {
                    color: unset;
                    text-decoration: none;
                    margin-right: 20px;

                    span {
                        position: absolute;
                        @include scale(91px, 32px, 1103px, 15px);
                        @include text(300, 16px, 19px, $text-c1);
                    }

                }
            }

            .register {
                a {
                    color: unset;
                    text-decoration: none;

                    span {
                        position: absolute;
                        @include scale(90px, 32px, 1170px, 15px);
                        @include text(300, 16px, 19px, $text-c1);



                    }
                }
            }
        }

    }
}

//Menu
.menu {
    position: relative;
    width: 1280px;
    height: 50px;
    background: $bg-c2;

    .container {
        .menu_bar {
            a {
                color: unset;
                text-decoration: none;
                @include text(300, 20px, 24px, $text-c2);
                opacity: 0.7;
                margin-right: 15px;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    bottom: -3px;
                    @include scale(100%, 3px, 0, '');
                    background-color: $bg-c1;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;

                }

                &:hover {
                    @include text(400, '', '', $text-c2);
                    opacity: 1;

                    &::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;

                    }

                }


            }


        }

    }
}


.register {
    width: 1280px;

    .container {
        padding: 0% 8% 8% 8%;

        h3 {
            text-align: center;
            @include text(400, 40px, 48px, $text-c2);
            margin-bottom: 5%;
        }

        .register-row {
            .register-col {
                .form-group {
                    @include text(400, 20px, 24px, $text-c3);

                    input {
                        @include text(400, 30px, 36px, $text-c2);
                        margin: 30px 0px;
                        outline: none;
                        border-style: none;
                        border: none;
                        border-radius: none;
                        background: transparent;
                        border-bottom: 5px solid $bg-c7;
                        padding-bottom: 5px;


                    }

                }


                form {
                    @include text(400, 30px, 36px, '');
                    margin: 30px 0px;
                    margin-top: 55px;

                    input {}

                    #error_gender {
                        @include text(400, 20px, 24px, $text-c3);
                    }
                }

                button {
                    height: 50px;
                    width: 291px;
                    background: $bg-c7;
                    border: none;
                    @include text(400, 30px, 36px, $text-c1);

                }
            }


        }
    }
}

//Footer
.footer {
    width: 1280px;

    .container {
        .footer-wrap {
            display: flex;
            flex-wrap: wrap;


            .footer-col {
                width: calc(100%/3);

                .text {

                    width: 300px;
                    height: 150px;
                    padding-top: 25px;
                    margin-left: 50px;


                    h3 {
                        @include text(600, 16px, 19px, $text-c2);
                    }

                    p {
                        font-size: 13px;
                    }

                    a {
                        font-size: 13px;
                        text-decoration: none;
                        color: unset;
                    }

                    .text-link {
                        color: $text-c3;
                    }
                }
            }

            .footer-color {
                background-color: $bg-c5;
            }
        }
    }
}